/*@import url("https://use.typekit.net/etj1gqn.css");*/


@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-SemiLight.otf') format('opentype');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/fonts/HelveticaNowText-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/fonts/HelveticaNowText-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNowText';
  src: url('/fonts/HelveticaNowText-SemiLight.otf') format('opentype');
  font-weight: 350;
  font-style: normal;
}

/*
@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
*/