@font-face {
  font-family: 'Diatype';
  src: url('/fonts/ABCDiatypeEdu-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Diatype';
  src: url('/fonts/ABCDiatypeEdu-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Diatype';
  src: url('/fonts/ABCDiatypeEdu-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}